<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Thokozani Xaba</title>
</head>

<body>
    <header>
        <div class="logo">TX</div>
        <nav>
            <ul class="nav_links">
                <li><a class="nav_opt" href="#">HOME</a></li>
                <li><a class="nav_opt" href="#">ABOUT</a></li>
                <li><a class="nav_opt" href="#">PROJECTS</a></li>
                <li><a class="nav_opt" href="#">CONTACT</a></li>
            </ul>
        </nav>
    </header>
    <section class="banner">
        <div class="banner_content">
            <h1 class="heading">Hey, I'm Thokozani Xaba</h1>
            <div class="heading_info">
                <p class="hf_text">A backend aspiring developer</p>
            </div>
            <div class="heading_cta">
                <a class="btn" href="#">Projects</a>
                <a class="btn" href="#">About me</a>
            </div>


            <!-- arroww down -->
            <div class="mouse_scroll">

                <div class="mouse">
                    <div class="wheel"></div>
                </div>
                <div>
                    <span class="m_scroll_arrows unu"></span>
                    <span class="m_scroll_arrows doi"></span>
                    <span class="m_scroll_arrows trei"></span>
                </div>
            </div>
            <!-- end -->
        </div>
    </section>
    <section class="about sec-pad">
        <div class="about_container">
            <div class="about_top">
                <h2 class="about_title"><span class="about_title-main">About me</span></h2>
                <p class="about_top-data">Here you will find more information about me, what I do, and my current skills
                    mostly in terms of
                    programming and technology</p>
            </div>
            <div class="about_main_container">
                <div class="about_content-main">
                    <h1 class="about_content-title">Get to know me!</h1>
                    <div class="about_content-details">
                        <p class="about_content-details-para">Here you will find more information about me, what I do,
                            and my current skills mostly in terms of
                            programming and technology</p>
                    </div>
                    <a href="./#contact" class="btn btn-bg">Contact</a>
                </div>
                <div class="about_content-skill">
                    <h1 class="about_content-title">My Skills</h1>
                    <div class="skills">
                        <div class="skill_box">node js</div>
                        <div class="skill_box">Express</div>
                        <div class="skill_box">SQL</div>
                        <div class="skill_box">Git</div>
                        <div class="skill_box">Github</div>
                        <div class="skill_box">Terminal</div>
                        <div class="skill_box">HTML</div>
                        <div class="skill_box">CSS</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="projects sec-pad">
        <div class="main_container">
            <h2 class="heading2">
                <span class="heading2-title">PROJECTS</span>
            </h2>
            <span class="heading2_sub-title">Below are some of my personal project</span>
        </div>
    </section>
    <footer class="footer">
        <div class="about_container">
            <div class="footer-upper">
                <div class="footer-upper-left">
                    <div class="footer-upper-left-heading">THOKOZANI XABA</div>
                    <p class="footer-upper-left-para"></p>
                </div>
                <div class="footer-upper-right">
                    <div class="footer-upper-right-heading">SOCIALS</div>
                    <div class="footer-upper-right-icons">
                        <a href="https://www.linkedin.com/in/thokozani-xaba-24b061172"><img class="footer-right-icon" src="/assets/linkedin-ico.png" alt=""> </a>
                        <a href="https://www.linkedin.com/in/thokozani-xaba-24b061172"><img class="footer-right-icon" src="/assets/github-ico.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="footer-lower">

            </div>
        </div>
    </footer>
    <!-- <div>
        <%= profile.name %>
    </div>
    <div>
        <%= profile.surname %>
    </div>
    <a href="https://www.linkedin.com/in/thokozani-xaba-24b061172">LinkedIn</a>
    <a href="https://www.linkedin.com/in/thokozani-xaba-24b061172">Github</a> -->
</body>

</html>